
body {
	background-color: #55acee;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.3em;
}

body>.content {
	margin-top: 40px;
}

span {
	display: inline-block;
}

.navbar {
	min-height: 70px;
	margin-bottom: 0;
}

.navbar-custom {
	background-color: #ffffff;
	border-bottom: 1px solid #cdcdcd;
}


.navbar-brand {
	background-image: url("../images/Twitter_logo_blue_32.png");
	background-size: 36px 36px;
	background-repeat: no-repeat;
	font-size: 2em;
	padding-left: 40px;
	padding-top: 7px;
	margin-top: 15px;
	color: #55acee;
}

.navbar-brand:hover {
	color: #55acee;
}

.stream {
	position: relative;
	margin-left: 0;
	list-style: none;
}

.stream-items {
	list-style: none;
}

.stream-item {
	background-color: #fff;
	border-left: 1px solid #e1e8ed;
	border-right: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
}

.stream-header {
	padding: 12px 16px;
	border-radius: 6px 6px 0 0;
}

.stream-footer {
	padding: 12px 16px;
	border-radius: 0 0 6px 6px;
}

.stream-item-count {
	display: block;
	position: relative;
	font-size: 1em;
	padding: 10px;
	background-color: #f5f8fa;
}

.stream-item .content {
	margin-left: 58px;
}

.stream-item-header .avatar {
	float: left;
	margin-top: 3px;
	margin-left: -58px;
}

.screen-name {
	font-size: 1em;
	color: #8899a6;
	padding-left: 4px;
}

.screen-name s {
	color: #b1bbc3;
	text-decoration: none;
}

.screen-name b {
	font-weight: normal;
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 5px;
}

.tweet, .tweeter {
	position: relative;
	min-height: 51px;
	padding: 9px 12px;
	border-bottom: 1px solid #e1e8ed;
}
